pandas==2.3.2
mypy==1.8.0
ruff==0.13.0
pre-commit==4.3.0
pydantic==2.11.9
typing_extensions>=4.0.0
numpy==2.3.3
sqlalchemy[mypy]==2.0.43
pymysql==1.1.2
pymongo==3.13.0
mongoengine==0.29.1
pymongo-stubs==0.2.0
pymupdf4llm==0.0.27