pandas==2.3.2
mypy==1.18.2
ruff==0.13.0
pre-commit==4.3.0
pydantic==2.11.9
typing_extensions>=4.0.0
numpy==2.3.3
sqlalchemy[mypy]==2.0.43
pymysql==1.1.2
pymongo==3.13.0
mongoengine==0.29.1
pymongo-stubs==0.2.0
pymupdf4llm==0.0.27
requests==2.32.5
lxml==6.0.2
types-requests==2.32.4.20250913
beautifulsoup4==4.14.2
tqdm==4.67.1
google-generativeai==0.8.4
google-genai==1.49.0
dotenv==0.9.9
qdrant-client==1.16.0